@model Live_Quiz.Models.Collection

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Collection</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>



    <div class="form-group">
        <div class="custom-control custom-checkbox my-1 mr-sm-2">
            <input type="checkbox" class="custom-control-input" id="isPublic" name="isPublic">
            <label class="custom-control-label" for="isPublic" name="isPublic">Is Public</label>
        </div>
        @Html.ValidationMessageFor(model => model.isPublic, "", new { @class = "text-danger" })
    </div>
   
    
   
    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })

        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">

        <button type="submit" class="btn btn-block btn-outline-success">Create</button>

    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
