@model Live_Quiz.Models.Collection

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">Details</h2>

<div class="card w-75 m-auto shadow">
    <h4 class="card-header text-center">Collection</h4>
    <dl class="card-body text-center" >
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
            <hr />

        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
            <hr />

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isPublic)      
            
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isPublic)
            <hr />

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)

        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
            

        </dd>

    </dl>
</div>



<div class="w-75 m-auto alert alert-link bg-transparent text-center m-5">
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "alert alert-info text-center m-auto" })
    @Html.ActionLink("Edit", "Edit", new { Id=Model.Id }, new { @class = "alert alert-info text-center m-auto" })
</div>