@using Live_Quiz.Models;
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@{
    ViewBag.Title = "ViewUserRoles";
}
    <div class="card card-header shadow-sm bg-light text-white" style="position:sticky; top:90px; z-index:6;">
        <div class="card-body " id="allroles"  style="display:inline; overflow-x:scroll; white-space:nowrap; ">
            @foreach (var role in ViewBag.roles)
            {
                <a style="display:inline;" href="#@role.Name">@role.Name</a>
            }
        
        </div>
    </div>
<div class="card shadow-lg">
    <div class="card-header shadow">
        <h3 class="display-3 text-center">User Roles</h3>
    </div>
    <div class="card-body">
        <table class="table table-hover table-light table-bordered table-responsive-lg">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody data-spy="scroll" data-target="#allroles" data-offset="0">


                @foreach (var erole in ViewBag.roles)
                {
                    <tr id="erole.Name" class="card-header text-center shadow-lg" style="font-size:25px;">
                        <th colspan="4">@erole.Name</th>
                    </tr>
                    int i = 0;
                    foreach (ApplicationUser euser in ViewBag.users)
                    {
                        IdentityUserRole user_role = new IdentityUserRole() { UserId = euser.Id, RoleId = erole.Id };
                        
                        foreach (var ii in euser.Roles.Select(x => x).ToList())
                        {
                            if (ii.RoleId == erole.Id)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@euser.UserName</td>
                                    <td>@euser.Email</td>
                                    <td>
                                        <a href="/Roles/Remove?userid=@euser.Id&role=@erole.Name" class="btn btn-block btn-outline-warning">Remove @euser.UserName from @erole.Name</a> 
                                    </td>

                                </tr>
                                i++;
                                break;
                            }
                        }
                    }
                }
               
            </tbody>
        </table>
    </div>
</div>

